body{
    background-color: whitesmoke;
    font-family: "Times New Roman", Times, serif;
    font-size: 18px;
    color: var(--light-grey);
    padding: 0 15px;
    display: flex;
    flex-direction: column;
    align-items: center;
    margin-top: 15%;
}
h1{
    margin-left: 3%;
}
#text-input{
    margin-left: 22%;
    margin-bottom: 10%;
}
#check-btn{
    margin-left: 40%;
}
#result{
    margin-bottom: 5%;
   
}